@import "../../styles/mixins";
.home-recommend-page{
  padding-top: 40px;
}



.company-name {
  width: 120px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-icon {
  width: 86px;
  height: 44px;
}


.hot-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;
  width: 350px;
  margin: 38px auto 0;
}
.hot-games li {
  cursor: pointer;
  width: 110px;
  height: 155px;
  margin-right: 10px;
  margin-top: 12px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  position: relative;
  color: #fff;
  background-color: pink;
}
.hot-games li p {
  height: 15px;
  line-height: 15px;
}
.hot-games li:nth-child(3n +0) {
  margin-right: 0;
}
.hot-games li .flag {
  width: 30px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  border-radius: 0 3px 0 5px;
  right: 0;
  top: 0;
  //background: $menu-flag;
  //color: $menu-font-color;
}
.hot-games li .online {
  //color: $menu-font-color-alpha;
}

.lottery-ball {
  height: 90px !important;
}
.hot-text {
  font-size: 14px;
  font-weight: 700;
}
.mt7 {
  margin-top: 115px;
}
