@import "./blue";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, button,th, td ,a ,span
  margin 0
  padding 0
  font-family "PingFang-SC-Regular", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", "Tahoma", "SimSun", "sans-seri"
  font-size 0.12rem
  box-sizing border-box
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  user-select none
  -webkit-user-select none
  box-sizing border-box
table
  border-collapse collapse
  border-spacing 0

fieldset, img
  border 0

address, caption, cite, code, dfn, em, strong, th, var
  font-style normal
  font-weight normal

ol, ul ,li
  list-style none
  margin 0
  padding 0

q:before, q:after
  content ''

abbr, acronym
  border 0

textarea:focus, input:focus
  outline none

img
  max-height 100%
  max-width 100%

button
  cursor pointer
  width 100%
  height 0.34rem
  line-height 0.34rem
  font-size 0.14rem
  display inline-block
  border-radius 0.04rem
  text-decoration none
  text-align center
  border 0px
  outline none
  background #ff7225
  color #fff
  display inline-block
  margin-bottom 0
  font-weight 400
  text-align center
  -ms-touch-action manipulation
  touch-action manipulation
  cursor pointer
  background-image none
  border 0.01rem solid transparent
  white-space nowrap
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border-radius 0.04rem
  transition color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear
  color #fff
  background-color #c09d1e
  border-color #c0961e
  &.butCur
    border 1px solid #999!important
    background #662
    color $bgColor!important

a
  text-decoration none

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]
  padding 0.02rem 0.02rem
  outline none
  border-radius 0.04rem
  width 100%

input
  // -webkit-appearance textfield
  -webkit-rtl-ordering logical
  user-select text
  cursor auto
  padding 1px
  border-width 2px
  border-style inset
  border-color initial
  border-image initial

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus
  box-shadow 0 0 0 60px #fff inset

input, textarea, select, button
  text-rendering auto
  letter-spacing normal
  word-spacing normal
  text-transform none
  text-indent 0rem
  text-shadow none
  display inline-block
  text-align start
  margin 0rem

input, textarea, select, button, meter, progress
  -webkit-writing-mode horizontal-tb


.action-block.action-block-top
  color #ffffff
// .default-text
//   color #ffffff!important
.action-block-bottom
    margin-bottom 0
.endTips
  height 0.5rem
  color #a9a7a7
  text-align center
  line-height 0.6rem

.bg
  background rgba(0,0,0,0.3)
  left 0
  top 0
  filter "Alpha(opacity=60)"
  opacity 1
  display block
  position fixed
  top 0
  z-index 99
  width 100%
  height 100%
// .ball
//     display inline-block
//     width 32px
//     height 32px
//     border-radius 50%
//     line-height 32px
//     font-size 14px
//     color #fff
//     box-shadow 0px 0.01rem 0.02rem rgba(0,0,0,0.6)
.ball-small // 其他球
    display inline-block
    width 0.22rem!important
    height 0.22rem!important
    border-radius 50%
    line-height 0.22rem
    font-size 0.14rem
    color #fff
    text-align center

.BLUE
    background #2866ef
.RED
    background #ef292a
.GREEN
    background #20d75c
.GRAY
    background: #8e8a81
.ORANGE
    background: #ef992a
.PINK
    background: #ed2bda
.PURPLE
    background: #9929ef
.ball-color0,.ball-color10,.ball-color20
    background linear-gradient(#f02a8c, #ef2989)
.ball-color1,.ball-color11,.ball-color21
    background linear-gradient(#962aeb, #972bf0)
.ball-color2,.ball-color12,.ball-color22
    background linear-gradient(#ee2a29, #ed2b27)
.ball-color3,.ball-color13,.ball-color23
    background linear-gradient(#ed9b26, #ed9a2b)
.ball-color4,.ball-color14,.ball-color24
    background linear-gradient(#21dea3, #21dea3)
.ball-color5,.ball-color15,.ball-color25
    background linear-gradient(#2866ee, #2967ed)
.ball-color6,.ball-color16,.ball-color26
    background linear-gradient(#8d8980, #8e8a81)
.ball-color7,.ball-color17,.ball-color27
    background linear-gradient(#f02bda, #ef2ad9)
.ball-color8,.ball-color18,.ball-color28
    background linear-gradient(#20d75c, #20d75c)
.ball-color9,.ball-color19,.ball-color29
    background linear-gradient(#e2d609, #e3d509)

// 彩种背景图
.bg-HK_LH
    background-image url('./assets/images/home/HK-xg.png')
.bg-PKT_BJ
    background-image url('./assets/images/home/PK10.png')
.bg-EF_HuB
    background-image url('./assets/images/home/EF-hb.png')
.bg-EF_GD
    background-image url('./assets/images/home/EF-gd.png')
.bg-EF_AH
    background-image url('./assets/images/home/EF-ah.png')
.bg-EF_SH
    background-image url('./assets/images/home/EF-sh.png')
.bg-EF_JX
    background-image url('./assets/images/home/EF-jx.png')
.bg-EF_JS
    background-image url('./assets/images/home/EF-js.png')
.bg-EF_SD
    background-image url('./assets/images/home/EF-sd.png')
.bg-EF_LN
    background-image url('./assets/images/home/EF-ln.png')
.bg-FT_HuB
    background-image url('./assets/images/home/FT-hb.png')
.bg-FT_GX
    background-image url('./assets/images/home/FT-gx.png')
.bg-FT_AH
    background-image url('./assets/images/home/FT-ah.png')
.bg-FT_JL
    background-image url('./assets/images/home/FT-jl.png')
.bg-FT_JX
    background-image url('./assets/images/home/FT-jx.png')
.bg-FT_JS
    background-image url('./assets/images/home/FT-js.png')
.bg-FT_FJ
    background-image url('./assets/images/home/FT-fj.png')
.bg-FT_BJ
    background-image url('./assets/images/home/FT-bj.png')
.bg-KLT_GD
    background-image url('./assets/images/home/KLT-gd.png')
.bg-KLT_HuN
    background-image url('./assets/images/home/KLT-hn.png')
.bg-KLT_SX3
    background-image url('./assets/images/home/KLT-sx.png')
.bg-KLT_TJ
    background-image url('./assets/images/home/KLT-tj.png')
.bg-KLT_SX1
    background-image url('./assets/images/home/KLT-shx.png')
.bg-KLT_YN
    background-image url('./assets/images/home/KLT-yn.png')
.bg-SSC_TJ
    background-image url('./assets/images/home/SSC-tj.png')
.bg-SSC_XJ
    background-image url('./assets/images/home/SSC-xj.png')
.bg-SSC_YN
    background-image url('./assets/images/home/SSC-yn.png')
.bg-SSC_CQ
    background-image url('./assets/images/home/SSC-cq.png')

.noData
    width 100%
    height 80%
    display flex
    .content-box
        margin auto 
        display flex
        flex-direction column
        svg 
            width 1.6rem
            height 1.3rem
            color $history-nolist-svg-color
            margin: auto
            margin-bottom 0.15rem 

        span 
            margin auto
            color $history-nolist-color
            line-height: 0.2rem
            font-size 0.15rem
        em
            display: inline-block
            width: 1rem
            line-height: 0.3rem
            background: $menu-bg-color
            text-align: center
            color: $history-nolist-buttom-color
            border-radius: 0.05rem
            margin auto
            margin-top 0.2rem











